In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from scipy.optimize import minimize

### Round 1

In [2]:
def F(x, a, b):
    return a * (x**2 - 900**2) / 2 + b * (x - 900)

def E(p, a, b):
    x, y = p
    return -((1000 - x) * F(x, a, b) + (1000 - y) * (F(y, a, b) - F(x, a, b)))

In [3]:
res = minimize(E, (950, 950), args=(1/5000, -0.18))
print(res.x)

[952.17325585 978.26053329]

### Round 3

In [4]:
multipliers = pd.DataFrame([
    [24, 70, 41, 21, 60],
    [47, 82, 87, 80, 35],
    [73, 89, 100, 90, 17],
    [77, 83, 85, 79, 55],
    [12, 27, 52, 15, 30]
], index=['a', 'b', 'c', 'd', 'e'])
hunters = pd.DataFrame([
    [2, 4, 3, 2, 4],
    [3, 5, 5, 5, 3],
    [4, 5, 8, 7, 2],
    [5, 5, 5, 5, 4],
    [2, 3, 4, 2, 3]
], index=['a', 'b', 'c', 'd', 'e'])

In [5]:
def get_max(df, n):
    data = df.copy()
    for i in range(n):
        m = data.max().max()
        idx, col = data.max(axis='columns').idxmax(), data.max().idxmax()
        print(idx, col, m)
        data[data == m] = 0

In [6]:
profit = np.round(multipliers/hunters*7500)
display(profit)
get_max(profit, 3)

          0         1         2         3         4
a   90000.0  131250.0  102500.0   78750.0  112500.0
b  117500.0  123000.0  130500.0  120000.0   87500.0
c  136875.0  133500.0   93750.0   96429.0   63750.0
d  115500.0  124500.0  127500.0  118500.0  103125.0
e   45000.0   67500.0   97500.0   56250.0   75000.0

c 0 136875.0
c 1 133500.0
a 1 131250.0

In [7]:
w = profit / profit.sum().sum() * 100
profit = np.round(multipliers/(hunters+w)*7500)
display(profit)
get_max(profit, 3)

         0        1        2        3        4
a  32538.0  57372.0  43788.0  30940.0  53476.0
b  46314.0  62583.0  64468.0  61797.0  40800.0
c  58422.0  65192.0  64217.0  62591.0  28322.0
d  60581.0  62969.0  63727.0  61397.0  51261.0
e  23898.0  35847.0  49832.0  26738.0  37858.0

c 1 65192.0
b 2 64468.0
c 2 64217.0

### Round 4

In [8]:
def F(x, a, b):
    if 900 <= x <= 1000:
        return a * (x**2 - 900**2) / 2 + b * (x - 900)
    elif x > 1000:
        return 1
    else:
        return 0

def E(p, a, b, mean):
    x, y = p
    if y < mean:
        return -((1000 - x) * F(x, a, b) + (1000 - mean) * (F(y, a, b) - F(x, a, b)))
    else:
        return -((1000 - x) * F(x, a, b) + (1000 - y) * (F(y, a, b) - F(x, a, b)))

In [10]:
for mean in range(978, 1000):
    print('Mean:', mean)
    res = minimize(E, (933, 966), args=(1/5000, -0.18, mean))
    optimal_bids = np.round(res.x)
    print('Optimal Bids:', optimal_bids)
    expectation = 0
    for mean_bis in range(900, 1000):
        expectation += -E(optimal_bids, 1/5000, -0.18, mean_bis)
    expectation /= len(range(900, 1000))
    print('Global Expectation:', expectation)
    print('-----')

Mean: 978
Optimal Bids: [952. 978.]
Global Expectation: 19.63442000000006
-----
Mean: 979
Optimal Bids: [953. 979.]
Global Expectation: 19.68878000000005
-----
Mean: 980
Optimal Bids: [944. 980.]
Global Expectation: 18.92144000000006
-----
Mean: 981
Optimal Bids: [946. 981.]
Global Expectation: 19.11180500000004
-----
Mean: 982
Optimal Bids: [955. 982.]
Global Expectation: 19.70475300000003
-----
Mean: 983
Optimal Bids: [955. 983.]
Global Expectation: 19.65579600000002
-----
Mean: 984
Optimal Bids: [956. 984.]
Global Expectation: 19.60000000000006
-----
Mean: 985
Optimal Bids: [956. 985.]
Global Expectation: 19.502555000000044
-----
Mean: 986
Optimal Bids: [959. 986.]
Global Expectation: 19.39683500000006
-----
Mean: 987
Optimal Bids: [958. 987.]
Global Expectation: 19.267310000000023
-----
Mean: 988
Optimal Bids: [959. 988.]
Global Expectation: 19.106342
-----
Mean: 989
Optimal Bids: [959. 989.]
Global Expectation: 18.911899999999992
-----
Mean: 990
Optimal Bids: [960. 990.]
Global Expectation: 18.697500000000073
-----
Mean: 991
Optimal Bids: [961. 991.]
Global Expectation: 18.451740000000015
-----
Mean: 992
Optimal Bids: [961. 992.]
Global Expectation: 18.173495999999986
-----
Mean: 993
Optimal Bids: [962. 993.]
Global Expectation: 17.86979500000007
-----
Mean: 994
Optimal Bids: [963. 994.]
Global Expectation: 17.53249500000005
-----
Mean: 995
Optimal Bids: [963. 995.]
Global Expectation: 17.16274000000005
-----
Mean: 996
Optimal Bids: [971. 991.]
Global Expectation: 17.418260000000053
-----
Mean: 997
Optimal Bids: [964. 997.]
Global Expectation: 16.32356100000004
-----
Mean: 998
Optimal Bids: [970. 985.]
Global Expectation: 17.943375000000017
-----
Mean: 999
Optimal Bids: [966. 999.]
Global Expectation: 15.354900000000042
-----