In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from scipy.optimize import minimize

### Round 1

In [2]:
def F(x, a, b):
    return a * (x**2 - 900**2) / 2 + b * (x - 900)

def E(p, a, b):
    x, y = p
    return -((1000 - x) * F(x, a, b) + (1000 - y) * (F(y, a, b) - F(x, a, b)))

In [3]:
res = minimize(E, (950, 950), args=(1/5000, -0.18))
print(res.x)

[952.17325585 978.26053329]

### Round 3

In [21]:
multipliers = pd.DataFrame([
    [24, 70, 41, 21, 60],
    [47, 82, 87, 80, 35],
    [73, 89, 100, 90, 17],
    [77, 83, 85, 79, 55],
    [12, 27, 52, 15, 30]
], index=['a', 'b', 'c', 'd', 'e'])
hunters = pd.DataFrame([
    [2, 4, 3, 2, 4],
    [3, 5, 5, 5, 3],
    [4, 5, 8, 7, 2],
    [5, 5, 5, 5, 4],
    [2, 3, 4, 2, 3]
], index=['a', 'b', 'c', 'd', 'e'])

In [50]:
def get_max(df, n):
    data = df.copy()
    for i in range(n):
        m = data.max().max()
        idx, col = data.max(axis='columns').idxmax(), data.max().idxmax()
        print(idx, col, m)
        data[data == m] = 0

In [55]:
profit = np.round(multipliers/hunters*7500)
display(profit)
get_max(profit, 3)

          0         1         2         3         4
a   90000.0  131250.0  102500.0   78750.0  112500.0
b  117500.0  123000.0  130500.0  120000.0   87500.0
c  136875.0  133500.0   93750.0   96429.0   63750.0
d  115500.0  124500.0  127500.0  118500.0  103125.0
e   45000.0   67500.0   97500.0   56250.0   75000.0

c 0 136875.0
c 1 133500.0
a 1 131250.0

In [54]:
w = profit / profit.sum().sum() * 100
profit = np.round(multipliers/(hunters+w)*7500)
display(profit)
get_max(profit, 3)

         0        1        2        3        4
a  39050.0  61039.0  47223.0  35146.0  54291.0
b  52500.0  61384.0  64158.0  60266.0  41852.0
c  63038.0  65261.0  57034.0  56158.0  29850.0
d  58579.0  61941.0  63052.0  59705.0  50857.0
e  22979.0  34469.0  48772.0  27146.0  37276.0

c 1 65261.0
b 2 64158.0
d 2 63052.0